
.icon-yahoo:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-dropbox:before { content: '\f16b'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */